.App {
  text-align: center;
}
.App span{
  border-radius: 3px;
  margin: 0 2px;
}
.tools{
  margin-bottom: 30px;
}
.tools{
  opacity: .5;
  pointer-events: none;
}
.tools .MuiFormControl-root{
  margin: 0 10px;
}
.ready.tools{
  opacity: 1;
  pointer-events: auto;
}